@{
    ViewBag.Title = "Servicios";
}
<div class="row justify-content-center vh-100 text-center main-fg pb-5" id="section0">
    <div class="row justify-content-center h-25 align-items-center">
        <div class="col-md-6" data-aos="fade-down" data-aos-duration="2000" data-aos-easing="linear">
            <h1 class="text-center">GESTIÓN GENERAL</h1>
        </div>
    </div>
    <div class="row justify-content-center h-75">
        <div class="text-center" data-aos="fade-down" data-aos-duration="2000">
            <img class="img-fluid" src="~/Content/images/economic.png" alt="Lista clientes" />
        </div>
        <h1><a href="#section1" class="btn-scroll"><i class="bi bi-chevron-double-down"></i></a></h1>
    </div>
</div>

<div class="row justify-content-center vh-100 text-center main-fg" id="section1">
    <div class="row justify-content-center h-25 align-items-center">
        <div class="col-md-6" data-aos="fade-down" data-aos-duration="2000" data-aos-easing="linear">
            <h1 class="text-center">GESTIÓN DE CLIENTES</h1>
        </div>
    </div>
    <div class="row justify-content-center h-75">
        <div class="text-center" data-aos="fade-down" data-aos-duration="2000">
            <img class="img-fluid" src="~/Content/images/client.png" alt="Lista clientes" />
        </div>
        <h1><a href="#section2" class="btn-scroll"><i class="bi bi-chevron-double-down"></i></a></h1>
    </div>
</div>

<div class="row justify-content-center vh-100 text-center main-fg" id="section2">
    <div class="row justify-content-center h-25 align-items-center">
        <div class="col-md-6" data-aos="fade-down" data-aos-duration="2000" data-aos-easing="linear">
            <h1 class="text-center">GESTIÓN DE ASUNTOS</h1>
        </div>
    </div>
    <div class="row justify-content-center h-75">
        <div class="text-center" data-aos="fade-down" data-aos-duration="2000">
            <img class="img-fluid" src="~/Content/images/issue.png" alt="Lista asuntos" />
        </div>
        <h1><a href="#section3" class="btn-scroll"><i class="bi bi-chevron-double-down"></i></a></h1>
    </div>
</div>

<div class="row justify-content-center vh-100 text-center main-fg" id="section3">
    <div class="row justify-content-center h-25 align-items-center">
        <div class="col-md-6" data-aos="fade-down" data-aos-duration="2000" data-aos-easing="linear">
            <h1 class="text-center">GESTIÓN ECONÓMICA</h1>
        </div>
    </div>
    <div class="row justify-content-center h-75">
        <div class="text-center h-75" data-aos="fade-up" data-aos-duration="2000">
            <img class="img-fluid mh-100" src="~/Content/images/economic2.png" alt="Lista facturas" />
        </div>
        <h1><a href="#section0" class="btn-scroll"><i class="bi bi-chevron-double-up"></i></a></h1>
    </div>
</div>

